body {

    text-align: center;
}

p {

    font-size: 1.2em;
    
}

#scissors,
#paper,
#stone {
    
    margin: 0.5em 1em;
    padding: 0.5em;
    font-size: 2em;
    border-radius: 25px;
    
}

#scissors:hover,
#paper:hover,
#stone:hover {

    background-color: thistle;
    transition: 0.7s;
}