body {

    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

p {

    font-size: 1.2em;
    font-family: "Helvetica", sans-serif;
    
}

#scissors,
#paper,
#stone {
    
    margin: 0.5em 1em;
    padding: 0.5em;
    font-size: 2em;
    border-radius: 25px;
    
}

#scissors:hover,
#paper:hover,
#stone:hover {

    background-color: thistle;
    transition: 0.7s;
}

/* #scissors:focus,
#paper:focus,
#stone:focus {

    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px blue;
    transition: 0.7s;

} */

/*#scissors:active,
#paper:active,
#stone:active {

    background-color: red;


}*/