body {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
}

p {

    font-size: 1.2em;
    font-family: "Helvetica", sans-serif;
    
}

#scissors,
#paper,
#stone {
    
    margin: 0.5em 1em;
    padding: 0.5em;
    font-size: 2em;
    border-radius: 25px;
    color: #ffffff;
    border: none;
    font-family: "Helvetica", sans-serif;

}

#scissors

{

    background-color: #062F4F;
    
}


#paper

{
    background-color: #813772;
    
}

#stone {
    
    background-color: #B82601;
    
}

#scissors:hover {

    background-color: #ffffff;
    color: #062F4F;
    transition: 0.7s;
}

#paper:hover {

    background-color: #ffffff;
    color: #813772;
    transition: 0.7s;
}

#stone:hover {

    background-color: #ffffff;
    color: #B82601;
    transition: 0.7s;
}

#scissors:focus,
#paper:focus,
#stone:focus {

    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px #ffffff;
    transition: 0.7s;

}
